.head{
text-align: center;
font-size: 20px;
}
.table{
  width: 70%;
  margin: 10px 230px;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
  padding: 8px 8px;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}
.head-back{
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 0px 8px;
    }
  .button-apply{
    font-size: 17px;
    border-radius: 3px;
    border: 1px solid black;
    margin: 2%;
    padding: 0px 4px;
    background: skyblue;
    font-family: 'Times New Roman', Times, serif;
  }